@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
@import "./responsive.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Comfortaa", cursive;
	font-size: 1rem;
}
.container {
	width: 70%;
	margin: auto;
}
/* .timeline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

.timeline {
	display: flex;
	margin-top: 6.5rem;
}
.timeline__content {
	width: 33%;
	display: flex;
	align-items: center;
}
.timeline__title-desc {
}

.timeline__title {
}
.timeline__desc {
	margin-top: 1rem;
}

.timeline__curve-section {
	position: relative;
}
.svg-even {
	position: absolute;
}
.svg-even circle {
	height: 100%;
	width: 100%;
	fill: none;
	stroke-width: 5;
	transform: translate(5px, 5px);
}

.svg-even circle:nth-child(2) {
	stroke: #2f2f2f;
	stroke-dasharray: 220px;
	stroke-dashoffset: -331px;
}
.timeline__curve-section::after {
	content: "";
	width: 5px;
	height: 80%;
	background: #2f2f2f;
	position: absolute;
	top: -120px;
	left: 50%;
}
.timeline__middle-icon {
	margin-top: -4px;
}
.round {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #00a857;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: white;
	margin: 1.5rem;
}

.timeline__empty-section {
	width: 33%;
}

.svg-odd {
	position: absolute;
}
.svg-odd circle {
	height: 100%;
	width: 100%;
	fill: none;
	stroke-width: 5;
	transform: translate(5px, 5px);
}

.svg-odd circle:nth-child(2) {
	stroke: #2f2f2f;
	stroke-dasharray: 229px;
	stroke-dashoffset: -103px;
}

.greenish-tr {
	background-color: #00a857;
}

.greenish-th {
	background-color: #00a857;
}

.active-th {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active-tr {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	transform: scale(1);
}

.top-left {
	border-top-left-radius: 10px;
}

.top-righ {
	border-top-right-radius: 10px;
}
.bottom-left {
	border-bottom-left-radius: 10px;
}

.bottom-right {
	border-bottom-left-radius: 10px;
}

.display-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.table-row-item {
	text-align: center;

	/* height:5rem; */

	height: 5rem;
}
.table-row-item {
	text-align: center;

	padding: 1rem;
	font-size:12px;
	padding: 2rem;
	font-size: 12px;
}

.non-active-faq-item {
	box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
	background: #ffffff;
}

.active-faq-item {
	background-color: #e4fff2;
}
