@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
@import "./responsive.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Comfortaa", cursive;
	font-size: 1rem;
}
.container {
	width: 70%;
	margin: auto;
}
/* .timeline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */
/*circle icon added here.*/

.circle {
	position: relative;
}
.circle::after {
	content: "";
	position: absolute;
	top: 15px;
	left: -11px;
	width: 15px;
	height: 15px;
	background: #2f2f2f;
	border-radius: 50%;
}
.timeline-wrapper {
	margin-top: 3rem;
}
.timeline {
	display: flex;
	margin-top: 4.5rem;
}
.timeline__content {
	width: 33%;
	display: flex;
	align-items: center;
}
.timeline__title-desc {
}
.timeline__title {
	border-bottom: 2px solid #2f2f2f;
	padding-bottom: 0.5rem;
}
.timeline__desc {
	padding-top: 1rem;
	font-size: 14px;
}
.timeline__curve-section {
	position: relative;
	width: 33%;
}
.svg-even {
	position: absolute;
	margin-left: 26%;
}
.svg-even circle {
	height: 100%;
	width: 100%;
	fill: none;
	stroke-width: 3;
	transform: translate(5px, 2px);
}

.svg-even circle:nth-child(2) {
	stroke: #2f2f2f;
	stroke-dasharray: 223px;
	stroke-dashoffset: -331px;
}
.timeline__curve-section::after {
	content: "";
	width: 3px;
	height: 60%;
	background: #2f2f2f;
	position: absolute;
	top: -92px;
	left: 50%;
}
.timeline__middle-icon {
	margin-top: -4px;
	margin-left: 25%;
}
.round {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #00a857;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: white;
	margin: 1.5rem;
}

.timeline__empty-section {
	width: 33%;
}

.svg-odd {
	position: absolute;
	margin-left: 26%;
}
.svg-odd circle {
	height: 100%;
	width: 100%;
	fill: none;
	stroke-width: 3;
	transform: translate(5px, 2px);
}

.svg-odd circle:nth-child(2) {
	stroke: #2f2f2f;
	stroke-dasharray: 223px;
	stroke-dashoffset: -108px;
}

/*down arrow added*/

.down-arrow {
	position: relative;
	margin-top: 2rem;
}
.down-arrow::after {
	content: "";
	position: absolute;
	top: -51.88px;
	left: -5px;
	height: 3.5rem;
	width: 3px;
	background: #2f2f2f;
}
.down-arrow::before{
	content:'\25BC';
	position: absolute;
	top: 0px;
    left: -11.4px;
}

.greenish-tr {
	background-color: #00a857;
}

.greenish-th {
	background-color: #00a857;
}

.active-th {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active-tr {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	border-radius: 10px;
	transform: scale(1);
}

.top-left {
	border-top-left-radius: 10px;
}

.top-righ {
	border-top-right-radius: 10px;
}
.bottom-left {
	border-bottom-left-radius: 10px;
}

.bottom-right {
	border-bottom-left-radius: 10px;
}

.display-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.table-row-item {
	text-align: center;
	height: 5rem;
}
.table-row-item {
	text-align: center;

	padding: 1rem;
	font-size: 12px;
	padding: 2rem;
	font-size: 12px;
}

.non-active-faq-item {
	box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
	background: #ffffff;
}

.active-faq-item {
	background-color: #e4fff2;
	transition: 0.5s;
}




@media (max-width: 894px) {
	.timeline__curve-section::after {
		top: -105px;
	}

	.svg-even {
		margin-left: 24.5%;
	}

	.svg-odd {
		margin-left: 24.5%;
	}

	.timeline__middle-icon {
		margin-left: 24%;
	}
}

@media (max-width: 860px) {

	.timeline__curve-section::after {
		height:71%;
		top: -131px;
	}

	.timeline {
		margin-top: 5rem;
	}
	.svg-even {
		margin-left: 23.5%;
	}
	.svg-odd {
		margin-left: 23.5%;
	}
}

@media (max-width: 768px) {

	.circle {
		position: relative;
		margin-top: 3rem;
	}
	.circle::after {
		content: "";
		position: absolute;
		top: -15px;
		left: -11px;
		background: #2f2f2f;
	}
	.timeline{
		margin-top:6rem;
	}
	.timeline__curve-section::after {
		height:78%;
		top: -146px;
	}
	.timeline__middle-icon {
		margin-left: 20%;
	}
	.svg-even {
		margin-left: 20.5%;
	}
	.svg-odd {
		margin-left: 20.5%;
	}


	.down-arrow::after {
		top: -82.88px;
		left:-3px;
	}
	.down-arrow::before{
		top: -31px;
		left: -10.4px;
	}
	.hOXmkI {
		height: 15.125rem;
	}
}
