@media (max-width:1292px){
    .timeline__curve-section::after{
        top:-172px;
    }
}

@media (max-width:1160px){
    .timeline__curve-section::after{
        top:-192px;
    }
}

@media (max-width:1140px){
    .timeline__curve-section::after{
        top:-213px;
    }
}


@media (max-width:1130px){
    .timeline__curve-section::after{
        top:-211px;
    }
}


@media (max-width:1013px){
    .timeline__curve-section::after{
        top:-244px;
    }
}

@media (max-width:984px){
    .timeline__curve-section::after{
        top:-264px;
    }
}

@media (max-width:980px){
    .timeline__curve-section::after{
        top:-285px;
    }
}


@media (max-width:958px){
    .timeline__curve-section::after{
        top:-306px;
    }
}
